.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

main {
    min-height: 100vh;
    background-color: #f7ecde;
}

main h1 {
    font-size: 50px;
    /* font-family: "Pacifico", cursive; */
    color: #352e28;
    isolation: isolate;
}

.bookmark-body h2 {
    /* font-family: "Righteous", cursive; */
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
table {
    vertical-align: middle !important;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
.line{
    padding: 20px;
    border-bottom: 2px dashed;
}